<div class="center jumbotron">
  <h1>Welcome to my receipes app</h1>
  <h2>This is the page for ruby professional course</h2>
  <%= link_to "Sign up now!", "", class: "btn btn-success btn-lg" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left"> Browse and view recipes as user and sign up later </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left"> Browse and view recipes as user and sign up later </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left"> Browse and view recipes as user and sign up later </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
</div>