<header class="navbar navbar-fixed-top navbar-default navbar-default-color">
  <div class="container">
    <%= link_to "MyRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav-item">
      <%= link_to "link 1", "", class: "btn btn-warning" %>
      <%= link_to "link 1", "", class: "btn btn-warning" %>
      <%= link_to "link 1", "", class: "btn btn-warning" %>
    </div>
  </div>
</header>
